html,
body,
#root {
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}


.page {
  width: 100%;
  max-width: none;
  margin: 0;
}

* {
  font-family: "MuseoSansCyrl-500", sans-serif;
}